<!-- Navbar -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fas fa-film"></i> <!-- Icône de clap de film -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to 'My Lists', lists_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Create a Movie List', new_list_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</div>



<h1><%= @list.name %></h1>

<h2>Add a movie to this list:</h2>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <%= image_tag movie.poster_url, class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title"><%= movie.title %></h5>
          <p class="card-text"><%= truncate(movie.overview, length: 100) %></p>
          <p class="card-text"><small class="text-muted">Rating: <%= movie.rating %></small></p>
          <%= button_to 'Add to List', list_bookmarks_path(@list, movie_id: movie.id), method: :post, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<h2>Movies in this list:</h2>
<div class="row">
  <% @bookmarked_movies.each do |movie| %>
    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <%= image_tag movie.poster_url, class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title"><%= movie.title %></h5>
          <p class="card-text"><%= truncate(movie.overview, length: 100) %></p>
          <p class="card-text"><small class="text-muted">Rating: <%= movie.rating %></small></p>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to 'Back to Lists', lists_path, class: 'btn btn-secondary' %>

</div>
