<h1><%= @list.name %></h1>

<h2>Add a movie to this list:</h2>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <%= image_tag movie.poster_url, class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title"><%= movie.title %></h5>
          <p class="card-text"><%= truncate(movie.overview, length: 100) %></p>
          <p class="card-text"><small class="text-muted">Rating: <%= movie.rating %></small></p>
          <%= link_to 'Add to List', list_bookmarks_path(@list, movie_id: movie.id), method: :post, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h2>Movies in this list:</h2>
<div class="row">
  <% @bookmarked_movies.each do |movie| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <%= image_tag movie.poster_url, class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title"><%= movie.title %></h5>
          <p class="card-text"><%= truncate(movie.overview, length: 100) %></p>
          <p class="card-text"><small class="text-muted">Rating: <%= movie.rating %></small></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
